/* Make the body use full height & center everything */
body {
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    height: 100vh;             /* full screen height */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color:#e6f0ff;
}

input, button {
    box-sizing: border-box;
    width: 100%;
}

.register-container {
    text-align: right;
    margin-top: 10px;
}

.register-link {
    font-size: 14px;
    color: #0077cc;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}


/* The box / card */
.login-card {
    width: 300px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    text-align: center;
}

/* Optional: Box styling */
.center-box {
    text-align: center;
    width: 300px;
}

/* Style for inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #579aff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
